# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Secrets
config/.env

# .NET build artifacts
api/bin/
api/obj/

# Node
frontend/node_modules/

# Logs
logs/

# OS
.DS_Store
Thumbs.db
electron/dist/
electron/node_modules/
*:Zone.Identifier
